<%= form_for @book do |f| %>

  <% if @book.errors.any? %>
    <div>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :resume %>
    <%= f.text_area :resume, size: "60x12" %>
  </div>
  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>